%h1 Welcome to Only24hrs
%h3 Why Only24hrs?
“I HAVE NOT TIME TO DO SOMETHINGS DURING THE DAY”, the reality is that every person has the same number of hours during the day. The time is the most valuable resource that each human have, and the irony is nobody knows how many time have left.
%h3 How Only24hrs?
Some of us are more productive at certain hours of the day influence by the mood or state of mind. But each of us has goals to achieve along the day, then Only24hrs is the appropriate tool to plan, monitor, steer and evaluate how we invest our time. The time ie represented as a limited resource that we could expend as multitasking, sequentially or totally focused.

%h2 Login or Sign up to date for having the whole Only24hrs experience!
= render(partial: "users/sessions/form", locals: { resource: User.new, resource_name: :user })
#login-links
  = render(partial: "users/shared/links_for_home", locals: { resource_name: :user })



