%h1 Welcome to Only24hrs

= render(partial: "users/sessions/form", locals: { resource: User.new, resource_name: :user })
#login-links
  = render(partial: "users/shared/links_for_home", locals: { resource_name: :user })



