%footer#footer
  %small.copyright
    Agiltec, Copyright © #{Date.today.year} powered by 
    %a{:href => "http://rubyonrails.org/"}
      Rails
    \. Developed by Manuel Vidaurre -
    %a{:href => "https://twitter.com/#!/mvidaurre"}
      @mvidaurre